[submodule "submodule2"]
	path = submodule2
	url = https://github.com/SCGANieFan/gitTestSubmodule2.git
[submodule "submodule1"]
	path = submodule1
	url = https://github.com/SCGANieFan/gitSubmodule1.git
